unable to process duplicate req headers?

## Problem
We are using Varnish/Fastly to send requests to our service that has traffic being captured with goreplay relaying traffic to http output on another host. Occasionally, we'll have a couple of requests that fail with what I believe is an issue with duplicate request headers. Example stacktrace with sne:
```
2018/05/01 23:38:02 [HTTPClient] Failed to send request:  GET /pix/<sanitized>?fit=crop&h=240&w=240 HTTP/1.1
Fastly-SSL: 1
X-Forwarded-Server: cache-iad2633-IAD
X-Forwarded-Host: <sanitized>
X-Imgix-Backend: lax-ca-us
X-Imgix-Shield-Host: <sanitized>
User-Agent: <sanitized>
X-Imgix-Original-Host: <sanitized>
X-Imgix-Original-Method: GET
X-Imgix-Original-Url: <sanitized>
X-Imgix-Original-Path: <sanitized>
X-Imgix-Original-Params:
X-Imgix-Normalized-Path: <sanitized>
X-Imgix-Capture: 1
X-Imgix-Js-Ver: &w=240&h=240&fit=crop
X-Imgix-Normalized-Params: ?w=240&h=240&fit=crop
X-Imgix-Normalized-Url: <sanitized>
X-Imgix-ID: <sanitized>
X-Imgix-SSL: 1
Referer: -
X-Varnish: 1333823919
X-Varnish: 854832414
X-Timer: S1525217874.435818,VS0,VS0
Fastly-Restart-On-Error: 1
X-Imgix-Caller: <sanitized>
X-Imgix-Deployment-Datestamp: Tue May 01, 2018 03:11:54 PM PDT
X-Imgix-Deployment-Timestamp: 1525212714
X-Imgix-Deployment-Hash: <sanitized>
X-Imgix-Billable: <sanitized>
X-Imgix-Countable: <sanitized>
host: <sanitized>
X-Imgix-Authenticated: 0
X-Varnish: 1103915298
X-Varnish: 1605418772
X-Imgix-Host-Chain: <sanitized>
Fastly-Client: 1
Fastly-FF: <sanitized>

2018/05/01 23:38:02 [HTTPClient] Response:  
2018/05/01 23:38:02 PANIC: pkg: runtime error: index out of range goroutine 227 [running]:
runtime/debug.Stack(0x0, 0x0, 0x0)
  /usr/local/go/src/runtime/debug/stack.go:24 +0x80
main.(*HTTPClient).Send.func1(0xc82f6cdc78, 0xc82f6cdc90)
  /go/src/github.com/buger/goreplay/http_client.go:147 +0x52d
panic(0xa58cc0, 0xc820010020)
  /usr/local/go/src/runtime/panic.go:443 +0x4e9
github.com/buger/goreplay/proto.headerIndex(0xc834564000, 0xb50, 0x989680, 0xc82f6cd810, 0x11, 0x11, 0x1)
  /go/src/github.com/buger/goreplay/proto/proto.go:95 +0x24e
github.com/buger/goreplay/proto.header(0xc834564000, 0xb50, 0x989680, 0xc82f6cd810, 0x11, 0x11, 0x0, 0x0, 0x0, 0x11, ...)
  /go/src/github.com/buger/goreplay/proto/proto.go:127 +0x9a
github.com/buger/goreplay/proto.Header(0xc834564000, 0xb50, 0x989680, 0xc82f6cd810, 0x11, 0x11, 0x0, 0x0, 0x0)
  /go/src/github.com/buger/goreplay/proto/proto.go:292 +0x7d
main.(*HTTPClient).Send(0xc822f64180, 0xc830ddad3f, 0x85a, 0x85a, 0x0, 0x0, 0x0, 0x0, 0x0)
  /go/src/github.com/buger/goreplay/http_client.go:206 +0xd29
main.(*HTTPOutput).sendRequest(0xc8200ce5f0, 0xc822f64180, 0xc830ddad00, 0x899, 0x899)
  /go/src/github.com/buger/goreplay/output_http.go:205 +0x2b6
main.(*HTTPOutput).startWorker(0xc8200ce5f0)
  /go/src/github.com/buger/goreplay/output_http.go:125 +0x1c7
created by main.(*HTTPOutput).workerMaster
  /go/src/github.com/buger/goreplay/output_http.go:99 +0x85
```

My suspicion is that since multiple X-Varnish headers exist in the original request, proto.headerIndex may return incorrect indexes.

Duplicate headers appear to be valid according to [RFC2616 Sec. 4.2](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2):
>Multiple message-header fields with the same field-name MAY be present in a message if and only if the entire field-value for that header field is defined as a comma-separated list [i.e., #(values)]. It MUST be possible to combine the multiple header fields into one "field-name: field-value" pair, without changing the semantics of the message, by appending each subsequent field-value to the first, each separated by a comma. The order in which header fields with the same field-name are received is therefore significant to the interpretation of the combined field value, and thus a proxy MUST NOT change the order of these field values when a message is forwarded

While not ideal, we could make an attempt at removing X-Varnish header from our requests, but due to the nature of the service we provide (CDN), we have to accept a wide range request headers and there may be other duplicate headers we could run into.

This behavior has been observed on v0.16.1, compiled from master, and pro versions.