Goreplay fails to capture responses to HEAD requests when that response has a non-zero Content-Length header.

GoReplay does not seem to capture responses to HEAD requests, which always have empty bodies, when the response contains a non-zero content-length header (I would assume, though have not verified, that it also fails when there is a transfer-encoding: chunked header). 

From RFC 2616 Section 4.3:
> All responses to the HEAD request method MUST NOT include a message-body, even though the presence of entity-header fields might lead one to believe they do.
